manifest {
   mainScript = 'main.nf'
}

params {
   reads = '/workdir/rotto/data/small/*_{1,2}.fastq'
   reference_genome = '/workdir/rotto/data/GRCm39.fasta'
   reference_annotation = '/workdir/rotto/data/GRCm39.gtf'
   outdir = '/workdir/rotto/results'
   threads = 4
}

process {
   executor = 'k8s'
   scratch = true
   withLabel:fastp {
      container = 'biocontainers/fastp:v0.20.1_cv1'
   }
   withLabel:star {
	container = 'nfcore/rnaseq:1.4.2'	
   }
   withLabel:samtools {
      container = 'biocontainers/samtools:v1.7.0_cv4'
   }
   withLabel:cufflinks {
      container = 'pgcbioinfo/cufflinks:2.2.1'
   }
   withName:FASTP {
    pod {
      nodeSelector = 'exp=nextflow_rotto'
        }
    }

    withName:STAR_INDEX_REFERENCE {
    pod {
        nodeSelector = 'exp=nextflow_rotto'
        }
    }
    withName:STAR_ALIGN {
    pod {
        nodeSelector = 'exp=nextflow_rotto'
        }
    }
    withName:SAMTOOLS {
    	pod {
        	nodeSelector = 'exp=nextflow_rotto'
        	}
    	}
    withName:CUFFLINKS {
    	pod {
        	nodeSelector = 'exp=nextflow_rotto'
        }
    }

}

docker {
   enabled = true
}



k8s {
   debug {
      yaml = true
   }
   namespace = 'rotto'
   context = 'rotto'
   runAsUser = 0
   storageClaimName = 'nextflow-rotto'
   storageMountPath = '/workdir'
}

trace {
   enabled = true
   file = '_trace_RS1_C2_D1'
   fields = 'task_id, hash, native_id, process, tag, name, status, exit, module, container, cpus, time, disk, memory, attempt, submit, start, complete, duration, realtime, queue, %cpu, %mem, rss, vmem, peak_rss, peak_vmem, rchar, wchar, syscr, syscw, read_bytes, write_bytes, vol_ctxt, inv_ctxt, env, workdir, script, scratch, error_action'
}

report {
   enabled = true
   file = '_report_RS1_C2_D1.html'
}

timeline {
   enabled = true
   file = '_timeline_RS1_C2_D1'
}

dag {
   enabled = true
   file = '_dag_RS1_C2_D1'
}

